DEBUG=True
SECRET_KEY=replace_me_with_secure_key
ALLOWED_HOSTS=127.0.0.1,localhost

# MySQL
DB_NAME=replace_with_db_name
DB_USER=replace_with_db_user
DB_PASSWORD=replace_with_db_password
DB_HOST=127.0.0.1
DB_PORT=3306